<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/d3_style.css') }}"/>
</head>
<body>
  <script type="text/javascript" src="{{ url_for('static', filename='js/get_fb_info.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/d3/d3.v3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/force_graph.js') }}"></script>
  <script type="text/javascript">
    window.fbAsyncInit = function() { fbInit({{ config["FB_APP_ID"] }}) };
  </script>

  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button>

  <div id="status">
  </div>  

</body>
</html>
